nav.navbar{
  border-radius: 0;
}
/* ####################### */
/* NAVBAR */
.navbar-brand{
  color: #344598 !important;
  font-weight: lighter;
}
/* ####################### */

/* ####################### */
/* FOOTER */
.footer-border{
  height: 10px;
  box-shadow: 0px 5px 10px rgb(166, 166, 166);
}
#footer{
  position: relative;
  z-index: -1;

  /* DEGRADADO */
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(173,245,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(3%, rgba(255,255,255,1)), color-stop(100%, rgba(173,245,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(173,245,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(173,245,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(173,245,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(173,245,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#adf5ff', GradientType=0 );
}
#footer ul{
  padding-left: 0;
}
#footer li{
  list-style: none;
}
#footer li>span{
  font-weight: bold;
}
#footer .contacto{
  margin-bottom: 15px;
}
#footer .mapa{
  padding: 0;
}
#footer .mapa .embed-responsive{
  width: 100%;
  height: 35vh;
}
/* ####################### */
