body{
  margin: 0;
  padding-top: 91px;
}

.titulo-estilizado{
  padding: 10px;
  border-radius:  10px;
  box-shadow: 1px 1px 4px 2px #00000085;
}
.titulo-estilizado.purpura{
  background-color: #344598;
  color: #d1d5e8;
}
.titulo-estilizado.amarillo{
  background-color: #f17100;
  color: #ffe8d3;
}

nav.navbar{
  border-radius: 0;
  margin: 0;
}
/* ####################### */
/* NAVBAR */
.navbar-brand{
  color: #344598 !important;
  font-weight: lighter;
  height: 90px;
  font-size: 25px;
}
.navbar .navbar-brand img{
  display: inline;
  margin-right: 20px;
}
/* ####################### */

/* ####################### */
/* FOOTER */
#footer{
  position: relative;
  border-top: solid 2px rgb(221, 221, 221);
  margin-top: 10px;
}
#footer ul{
  padding-left: 0;
}
#footer li{
  list-style: none;
}
#footer li>span{
  font-weight: bold;
}
#footer .contacto{
  margin-bottom: 15px;
}
#footer .mapa{
  padding: 20px;
}
#footer .mapa .embed-responsive{
  width: 100%;
  height: 30vh;
}
/* ####################### */

.contenido.con-fondo{
  background-color: black;
}


/* ################################ */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex .thumbnail {
  height: 100%;
}

.row.display-flex .thumbnail {
  display: flex;
  flex-direction: column;
}

.row.display-flex .thumbnail .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.icono-media{
  display: inline-block;
  height: 40px;
  margin-right: 5px;
}
